<a href="https://colab.research.google.com/github/thanatkat/E-Commerce-Data-EDA/blob/main/E_Commerce_Data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# E-Commerce Data

Dataset: https://www.kaggle.com/datasets/carrie1/ecommerce-data

In [75]:
# import 
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime as dt

In [76]:
# read csv file
df = pd.read_csv("data.csv", encoding= 'unicode_escape')

In [77]:
# change InvoiceDate object to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceMonth'] = df['InvoiceDate'].apply(lambda x: dt.datetime(x.year, x.month,1))

In [78]:
# view data head
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     541909 non-null  object
 1   StockCode     541909 non-null  object
 2   Description   540455 non-null  object
 3   Quantity      541909 non-null  int64
 4   InvoiceDate   541909 non-null  datetime64[ns]
 5   UnitPrice     541909 non-null  float64
 6   CustomerID    406829 non-null  float64
 7   Country       541909 non-null  object
 8   InvoiceMonth  541909 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 37.2+ MB

In [80]:
# drop the duplicate row
df.drop_duplicates(inplace=True)

In [81]:
# check missing value
# Description, CustomerID have non-value 
df.count()

InvoiceNo       536641
StockCode       536641
Description     535187
Quantity        536641
InvoiceDate     536641
UnitPrice       536641
CustomerID      401604
Country         536641
InvoiceMonth    536641
dtype: int64

In [82]:
# show only rows having non value
null_mask = df.isnull().any(axis=1)
null_rows = df[null_mask]
print(null_rows)

       InvoiceNo StockCode                      Description  Quantity  \
622       536414     22139                              NaN        56
1443      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445      536544     21786               POLKADOT RAIN HAT          4
1446      536544     21787            RAIN PONCHO RETROSPOT         2
...          ...       ...                              ...       ...
541536    581498    85099B          JUMBO BAG RED RETROSPOT         5
541537    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
541538    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
541539    581498     85174                S/4 CACTI CANDLES         1
541540    581498       DOT                   DOTCOM POSTAGE         1

               InvoiceDate  UnitPrice  CustomerID         Country InvoiceMonth
622    2010-12-01 11:52:00       0.00         NaN  United Kingdom   2010-12-01
1443   2010-12-01 14:32:00       2.51         NaN  United Kingdom   2010-12-01
1444   2010-12-01 14:32:00       2.51         NaN  United Kingdom   2010-12-01
1445   2010-12-01 14:32:00       0.85         NaN  United Kingdom   2010-12-01
1446   2010-12-01 14:32:00       1.66         NaN  United Kingdom   2010-12-01
...                    ...        ...         ...             ...          ...
541536 2011-12-09 10:26:00       4.13         NaN  United Kingdom   2011-12-01
541537 2011-12-09 10:26:00       4.13         NaN  United Kingdom   2011-12-01
541538 2011-12-09 10:26:00       4.96         NaN  United Kingdom   2011-12-01
541539 2011-12-09 10:26:00      10.79         NaN  United Kingdom   2011-12-01
541540 2011-12-09 10:26:00    1714.17         NaN  United Kingdom   2011-12-01

[135037 rows x 9 columns]

In [83]:
# replace null value in CustomerID with '00000'
df['CustomerID'].fillna('00000', inplace=True)

In [84]:
# fill in missing Description using StockCode
df['Description'] = df.groupby('StockCode')['Description'].fillna(method='ffill')

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536641 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     536641 non-null  object
 1   StockCode     536641 non-null  object
 2   Description   536456 non-null  object
 3   Quantity      536641 non-null  int64
 4   InvoiceDate   536641 non-null  datetime64[ns]
 5   UnitPrice     536641 non-null  float64
 6   CustomerID    536641 non-null  object
 7   Country       536641 non-null  object
 8   InvoiceMonth  536641 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 40.9+ MB

In [87]:
# Some StockCodes are not match with Description
# Put 'Unknown' to missing values on Description column
df['Description'].fillna('Unknown', inplace=True)

In [ ]:
# check again
df.sample(30)

In [104]:
# count the number of rows with negative values in the Quantity column
count = (df['Quantity'] < 0).sum()
print(count)

10587

In [105]:
# I assume negative values in the Quantity are the ones which were cancelled
# remove rows with negative Quantity values
df = df[df['Quantity'] >= 0]

In [107]:
# check again
count = (df['Quantity'] < 0).sum()
print(count)

0

In [108]:
# export dataframe to csv
df.to_csv('ecommerce_data.csv')